node-options=--max-old-space-size=4096
auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
